<div class="wrapper wrapper-content animated "><!-- fadeInRight -->
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    {{main.helloText}}
                </h1>
                <small>
                    {{main.descriptionText}}
                </small>
            </div>
            <br>
            <div class="row">

                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <!-- <h5>User Requests Analysis</h5> -->
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <span ng-if="!dc.userRequestLoading">
                                <highchart id="chart1" config="dc.userRequestConfig" class="span10"></highchart>
                            </span>
                            <div class="text-center" ng-if="dc.userRequestLoading">
                                Loading...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <!-- <h5>Platform Specific Request Analysis</h5> -->
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <span ng-if="!dc.platformRequestLoading">
                                <highchart id="chart2" config="dc.platformRequestConfig" class="span10"></highchart>
                            </span>
                            <div class="text-center" ng-if="dc.platformRequestLoading">
                                Loading...
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <!-- <h5>Platform Specific Request Analysis</h5> -->
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <span ng-if="!dc.alexaRequestLoading">
                                <highchart id="chart3" config="dc.alexaRequestConfig" style="width: 80%; height: 400px; margin: 0 auto" ></highchart>
                            </span>
                            <div class="text-center" ng-if="dc.alexaRequestLoading">
                                Loading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>